@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.navbar {
    overflow: hidden;
    background-color:#066b6b;
    font-family: Arial;

  }
  

  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
 .navbar a:hover{
    background-color:red;
 }

.img{
    background-color: black;
    margin-top:15px;
    padding:0;
    width:100%;
    height:100%;
    position:relative;
    display:inline-block;
    

}

  .pic{
    width:100%;
    height:100%;

  }

  .img:hover .pic{
    opacity:0.3;
    transition: all 0.8s ease;
  }

.centered{
position:absolute;
z-index: 999;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color:white;
font-family: 'Montserrat', sans-serif;
font-size: 60px;
text-align:center;
opacity:0;


}

.img:hover .centered{
opacity:1;
transition: all 0.8s ease;
}


.text p{
    width:80%;
    font-family: 'Montserrat', sans-serif;
    font-weight: light;
    margin-left:25px;
}

h1{
    font-family: 'Montserrat', sans-serif;
    margin-bottom:0;
    color:#066b6b;

}

h2{
    font-family: 'Montserrat', sans-serif; 
    margin-bottom:0;
    color:#066b6b;
    margin-left:10px;
}

.mic{
    background-color:black;
    width:540px;
    height:360px;
    margin:auto;
    position:relative;
 
}

.mic .pic1{
    width:540px;
    height:360px;
}

.mic p{
    position:absolute;
    color:white;
    font-style: none;
    z-index: 999;
    bottom:0;
    margin-left:0;
    padding-left:0;
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    opacity:0;
    font-size: 30px;
}

.mic:hover .pic1{
    opacity:0.3;
    transition: all 0.8s ease;

}

.mic:hover p{
    opacity:1;
    transition: all 0.8s ease;
}

.recommendations{
    margin-left:25px;
    padding:10px;
    border:0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #066b6b;
    color:white;
}

.recommendations:hover{
    background-color: red;
    transform:scale(1.1);
    transition: all 0.3s ease;
}

.ampli{
    background-color:black;
    width:353px;
    height:120px;
    margin:auto;
    position:relative;
}

.ampli img{
width:353px;
height:120px;
}

.finish{
    margin-top: 400px;
    width:100%;
    height:300px;
    background-color:#066b6b;
    font-family: 'Montserrat', sans-serif;
    color:white;
    position:relative;
}

.finish .copyright{
    padding:10px;
}

.finish .follow{
 text-align:center;
 font-size: 60px;
 font-weight: 700;
 margin-bottom:10px;
 padding-bottom:0;
}

.finish .logo{
    height:60px;
    z-index:100;
    display:inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.finish .logo .insta{

    max-width:100%;
    max-height:100%;
    padding:20px;
}

.finish .logo .fb{
    
    max-width:100%;
    max-height:100%;
    padding:20px;
}

.finish .logo .youtube{
    max-width:100%;
    max-height:100%;
    padding:20px;
}

.finish .logo .youtube:hover{
transform:scale(1.3);
transition: all 0.3s ease;
}

.finish .logo .fb:hover{
    transform:scale(1.3);
    transition: all 0.3s ease;
    }
    

.finish .logo .insta:hover{
    transform:scale(1.3);
    transition: all 0.3s ease;
    }
        
.video{
    
    position:relative;
    margin-top:30px;
}

.video iframe{
    position:absolute;
    left: 50%;
    transform: translateX(-50%);

}

.cablephoto{
    position:relative;
    background-color: black;
    width:1332px;
    height:788px;
    margin-top:15px;
}

.cablephoto img{
    width:1332px;
    height:788px;
    position:absolute;
    left:50%;
    transform:translateX(-50%);

}

.cablephoto:hover img{
    opacity:0.3;
    transition: all 0.3s ease;
}

.cablephoto:hover .centered{
    opacity:1;
    transition: all 0.3s ease;
}

.cable{
    position:relative;
    width:100%;
    height:110px;
    margin:30px;
}
.cable img{
    width: 150px;
    height:110px;
    position:absolute;
    border:3px solid #066b6b;
    border-radius: 20px;
    margin:0 20px;
    left:0;
    
    
}

.cable p{
    position:absolute;
    left:170px;
}

.intro{
    background-color:#066b6b;
    padding:20px;
    color:white;
    position:relative;
}

.intro h1{
    color:white;
}

.cable img:hover{
    transform:scale(1.1);
    transition: all 0.3s ease;

}

.intro iframe{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    margin-top:60px;
}

.finish .follow{
    margin:auto;
}

.mixerphoto{
    background-color:black;
    margin-top:25px;
}

.mixerphoto img{
    max-width:100%;
   
}

.mixerphoto:hover img{
    opacity:0.3;
    transition: all 0.3s ease;
}

.mixerphoto:hover .centered{
    opacity:1;
    transition: all 0.3s ease;
}

p{
    font-family: 'Montserrat', sans-serif;
    margin-left:20px;
}

.explaining{
    padding:15px;
}

.speakerphoto{
    background-color:black;
    margin-top:25px;
    margin-bottom:35px;
}
.speakerphoto img{
    max-width:100%;
}

.speakerphoto:hover img{
    opacity:0.3;
    transition: all 0.3s ease;
}

.speakerphoto:hover .centered{
    opacity:1;
    transition: all 0.3s ease;
}

.mixerphoto2{
    background-color: black;
    margin-top:25px;
}

.mixerphoto2:hover img{
    opacity:0.3;
    transition:all 0.3s ease;
}

.mixerphoto2:hover .centered{
    opacity:1;
    transition:all 0.3s ease;
}

.item{
    width:17%;
    height:650px;
    background-color: #066b6b;
    box-shadow: 16px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top:40px;
    position:relative;
    border-radius: 20px;
    display:inline-block;
    margin:30px;

}

.item img{
    width:80%;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    padding:20px;
    height:180px;
}

.item h3{
    position:absolute;
    top:200px;
    left:50%;
    transform: translateX(-50%);
    color:white;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;

    
}

.item p{
    position:absolute;
    top:300px;
    left:0;
    padding:10px;
    color:white;
    text-align:left;
    font-size:15px;
    font-family: 'Montserrat', sans-serif;
    line-height:30px;
}

.item btn{
    padding:10px 40px;
    position:absolute;
    z-index:100;
    top:550px;
    left:50%;
    transform:translateX(-50%);
    font-family: 'Montserrat', sans-serif;
    background-color:red;
    color:white;
    border-radius: 20px;
    font-weight: 900;

}

.item btn:hover{
    background-color: rgb(172, 3, 3);
    transition:all 0.3s ease;
  
}

.item:hover{
    transform:scale(1.1);
    transition:all 0.3s ease;

}


.video1{
    background-color:black;
    margin:0;
    padding:0;
    display:block;

}

video{
    position:absolute;
    margin-top:20px;
    left:50%;
    transform: translateX(-50%);
    width:100%;
    height:100%;
    object-fit:cover;
    pointer-events:none;
    display:block;
}

.fill{
    display:block;
    width:100%;
    height:630px;
    padding:0;
    margin:0;
}